*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gitignore_BACKUP_4172
.gitignore_BASE_4172
.gitignore_LOCAL_4172
.gitignore_REMOTE_4172
task4/task4 sheme.vpp.bak_000f
task4/task4 sheme.vpp.bak_001d
task4/task4 sheme.vpp.bak_002d
task4/task4 sheme.vpp.bak_003d
task4/task4 sheme.vpp.bak_004d
/bin/
